* {
  overflow: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 10px;
  color: aliceblue;
  text-align: center;
  background: url("images/bg-image.jpg");
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  width: fit-content;
  padding: 8px 24px 8px 24px;
}

p {
  padding-bottom: 8px;
}

.icon a {
  margin: 0px 5px 0px 5px;
  font-size: 20px;
  color: aliceblue;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon a:hover {
  transform: scale(1.2);
}

.icon a[href*="instagram.com"]:hover {
  color: #E4405F;
}

.icon a[href*="facebook.com"]:hover {
  color: #1877F2;
}

.icon a[href*="github.com"]:hover {
  color: #333; 
}

.icon a[href*="linkedin.com"]:hover {
  color: #0077B5;
}

.icon a[href*="portofolio.netlify.app"]:hover {
  color: #273f4f;
}
